.pet-card {
    background-color: var(--color-pw-4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    margin-right: 80px;
    width: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.card-content, .props {
    display: flex;
    flex-direction: column;
}

.props {
    flex-direction: row;
}

.props-row {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

@media (min-width: 800px) {   
    .card-content {
        flex-direction: row;
    }
    .prop-key {
        width: 100px !important;
    }
    .props {
        width: 50%;
        max-width: 400px;
        flex-direction: column;
    }
    .props-row {
        flex-direction: row;
        margin-right: 50px;
    }
    .prontuario {
        width: auto;
    }
}

@media (min-width: 576px) {
    .key {
        flex: 0 0 auto;
        width: 16% !important;
    }
}


table {
    border: 0px;
}

.btn-link {
    color: var(--color-pw-7) !important;
}