@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');

:root {
    --color-pw-1: #FFFFFF;
    --color-pw-2: #FFEACD;
    --color-pw-3: #FFC14D;
    --color-pw-4: #FFA400;
    --color-pw-5: #EB751E;
    --color-pw-6: #C55C1B;
    --color-pw-7: #6B2206;
    --color-pw-8: #000000;

    --color-primary: #FF8400;
    --color-background: #FFE9DA;
    --color-text: #6B2206;
}

html, body {
    height: 100%;
    font-family: "Exo", "Ubuntu", sans-serif;
    background-color: var(--color-background) !important;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.text-primary {
    color: var(--color-text) !important;
}

h1, h2, h3, h4, h5, h6, p, a, span
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--color-text) !important;
}

.page {
    display: flex;
}